doctype html
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    form(action="/", method="post")
      input(type="text" name="content")
    form(action="/del", method="post")
      input(type="hidden", name="_method" value="delete")
      button(type="submit") Clear
    ul
      each todo in todoList
        li= todo.content