html
  head
    link(rel='stylesheet' href='index.css')
    script(src='index.js') 
  body
    form(action="/", method="post")
      input(type="text" name="name")
    ul
      each todo in list
        li= todo